@{
    ViewBag.Title = "hpCCIT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h2>VMVT</h2>
                        <h3>Validation, Monitoring & Validation Tools</h3>
                        <hr>
                        <ul class="list-inline intro-social-buttons">
                            <li><a href="~/Validation/ConfigVault" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Config Vault</span></a></li>
@*                            <li><a href="~/CheckList/Index" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Checklist Masters/Templates</span></a></li>
                        <hr>
                            <li><a href="~/Release/RFCTemplatesIndex" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">RFC Templates</span></a></li>
                            <li><a href="~/MasterRef/Index" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Master References</span></a></li>
                            <li><a href="~/Settings/FlushCache" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Flush Cache</span></a></li>*@
                        </ul>
                        <h3><span class="label label-info">@ViewBag.Message</span></h3>

                    </div>
                </div>
            </div>

        </div>
</div>