@{
    ViewBag.Title = "hpCCIT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/SettingsController.js"></script>


<div ng-controller="SettingsController" id="div12">

    <div class="container" style="padding-top: 50px;">
        <h1 style="text-align: center">Import Masters/App Configuration</h1>

    </div>

    <div class="container" id="body">

        <div class="row">
            <div class="col-md-1">
                <span ng-click="ImportMasterData();" class="btn btn-success">Start</span>
            </div>
            <div class="col-md-9">
            </div>
            <div class="col-md-1">
@*                <span ng-click="SearchModal();" class="btn btn-success">Search</span>*@
            </div>
            <div class="col-md-1">
@*                <span ng-click="SearchClear();" class="btn btn-warning">Clear</span>*@
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-md-12">
@*                <div ui-grid="gridOptionsImportMasterData" ui-grid-edit ui-grid-selection ui-grid-exporter style="height: 250px;" class="grid"></div>*@
            </div>
        </div>





    </div>









</div>
