@{
    ViewBag.Title = "hpCCIT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>hpCCIT</h1>
                        <h2>Beta version 1.0</h2>
                        <h3>A complete configuration item tracking [CCIT] tool</h3>
                        <h4>
                        hp CCIT is an open source contains set of features for configuration management and tracking tool used by users to a central site for all application development configuration items, checklist management, deployment release readiness and generic reporting for sprint.
                        </h4>
                        <a class="btn btn-primary" href="https://github.com/hitendrapanchal/hpCCIT" target="_blank">Github</a>
                        <br />
                        <hr>
                        <h2>Courtesy : Hitendra Panchal</h2>
                        <h5>Features : Checklist Mgmt, Development CIs, Release Readiness, Reporting</h5>
                        <h5>Depends on technologies : C# 4.0, MVC 4.0, WebAPI 2.0, AngularJS v1.4.9, JQuery 1.9, BootStrap v3.3.6, EntityFramework 6.0, MSSQL, JSON, Powershell, WMF3.0</h5>

                        <hr>
                        <h5 style="color: blue">For any question/queries, please contact: Hitendra Panchal (hitendrapanchal@gmail.com)</h5>
                        <hr>
                        <span class="network-name">Presenation : </span><a href="~/Home/DownloadPresenation"><i class="fa fa-github fa-fw"></i><span class="network-name">Download</span> </a>
                    </div>
                </div>
            </div>

        </div>


</div>